@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;

}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.container {
  margin: 0 auto;
  min-width: 100%;
  text-align: center;
}

.title {
  margin: 0;
  font-size: 3rem;
  font-family: Agbalumo;
  color: #584a55
}

.description {
  margin: 1rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}



.inputheader {
  background-color: rgb(0, 0, 0);
  padding: 10px;
  margin-top: 0;
  max-width: 500px;
  width: 90%;
  
}

.form {

  [type="file"] {
    font-size: 1em;
    column-gap: 25px;
    padding: 1em;
    border: solid 1px gray;
    border-radius: .5em;
  }


  button {
    color: white;
    font-size: 1em;
    background-color: blueviolet;
    padding: .5em .8em;
    border: none;
    border-radius: .2em;
  }

  code {
    text-align: left;
  }

}

.containerCard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
  margin: 0 auto;
  background-color: #181818;
  height: auto;
  min-height: 90vh;
  padding-bottom: 50px;
}

.img-card {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: #262626;
  max-width: 1400px;
  margin: 0 auto;
  user-select: none;
  border-radius: 25px;
  padding: 0 15px;
}

.img-card img {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 20px;
  height: 500px;
  width: auto;
  margin: 25px 0;
}

.containerCard h1 {
  font-size: 40px;
  padding: 30px 0;
  font-family: 'Agbalumo';
}

.info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 700px;
  max-height: 90%;
  margin: 0 auto;
  gap: 40px;
  background-color: #000000;
  margin-top: 25px;
}

.code {
  overflow: hidden;
  overflow-x: scroll;
  width: 100%;
  background-color: #584a55;
}

.info-card-short {
  display: flex;
  width: 100%;
  justify-content: space-around;
  gap: 15px;

}

@media (max-width: 650px) {
  .containerCard {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 0;
  }


  .inputheader {
    width: 90%;
  }
  .info-card {
    width: 100%;
    border-radius: 0;
  }

  .img-card img {
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    height: auto;
    margin-right: 0;
    max-height: none;
    min-height: none;
  }

  .btn-header {
    padding: 10px;
    margin-top: 0;
    width: 90%;
    margin-top: 50px;

  }
  .img-card {
    display: flex;
    flex-direction: column;
    background-color: #000000;
  }

  .upi-container {
    width: 100%;

  }

}



.footerA {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: white;
  color: rgb(255, 255, 255) ;
  background-color: #252225;
  padding: 30px;
}

.footerA ol li a {
  color: rgb(223, 223, 223);
  font-size: small;
}



@media (max-width: 500px) {
  .footerA {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .formmedia {
      width: 100%;
      border-radius: 0;
  }
  
}
.pm-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  max-width: 1400px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.pm-grid-container img {
  width: 100%;
  height: 300px;
  object-fit: contain;
  border: 1px solid gray;
  border-radius: 10px;
}

.hp-container {
  min-height: 100vh;
}

.img-content {
  display: flex;
  justify-content: center;
}

.upi-container {
  row-gap: 15px;
  padding: 15px;
  height: 500px;
  background-color: #030303;
  border: 1px solid rgb(124, 124, 124);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 40%;
}

.input-file {
  display: none;
  /* Oculta el input original */
}

.custom-file-upload {
  border: 1px solid #030303;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #0c26bb;
  border-radius: 10px;
}

.custom-file-upload:hover,
.btn-header:hover {
  background-color: #354bc9;
}

.btn-header {
  position: absolute;
  bottom: 0;
  padding: 10px;
  background-color: #0c26bb;
  width: 100%;
  left: 0;
  border-radius: 0 0 10px 10px; 

}

.tj-container-img {
  align-items: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.tj-container-img img {
  max-height: 90vh;
}







#tarjet_options {
  position: fixed;
  height: 50px;
  left: 5px;
  width: 100%;
  bottom: 0;
  background-color: black;
}
#option-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 10px;
  gap: 5px;
  align-items: center;
  justify-content: space-around;

}
.icon-tarjet {
  width: 25px;
}

.option2 {
  position: inherit;
}



.it-container {
  background-color: #1a1a1a;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.it-b-container img {
  max-height: 90vh;
  width: auto;
  padding: 5px;
}